.dir{
    display: flex;
    gap:50px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: blanchedalmond;
}
/* flex-direction:column; */
.f_direction{
    display: flex;
    flex-direction:column;
    border: 2px solid seagreen;
}
/* flex-direction:column-reverse; */
.f_direction2{
    display: flex;
    flex-direction:column-reverse;
    border: 2px solid seagreen;
}
/* flex-direction:row; */
.f_direction3{
    display: flex;
    flex-direction:row;
    border: 2px solid seagreen;
}
/* flex-direction:row-reverse; */
.f_direction4{
    display: flex;
    flex-direction:row-reverse;
    border: 2px solid seagreen;
}

/* box's style */
.box-1{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    color:white;
}
.box-2{
    background-color:salmon;
    width: 100px;
    height: 100px;
    color:white;
}
.box-3{
    background-color: violet;
    width: 100px;
    height: 100px;
    color:white;
}
.box-4{
    background-color: blue;
    width: 100px;
    height: 100px;
    color:white;
}

/* flex-warp example */
.con{
    background-color: skyblue;
}
.warp_ex{
    color:white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border:2px solid black;
    width: 25%;
}
.box{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    text-align: center;
}

.warp_ex2{
    color:white;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    border:2px solid black;
    width: 25%;
}
.warp_ex3{
    color:white;
    display: flex;
    flex-wrap:wrap-reverse;
    gap: 20px;
    border:2px solid black;
    width: 25%;
}

/* flex-flow */
.cont{
    background-color: salmon;
    color: white;
    display: flex;
    flex-flow:row wrap;
    gap: 20px;
    width: 30%;
}

/* justify-content */
.center{
    background-color: aqua;
    color:white;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.start{
    background-color: powderblue;
    color:white;
    display: flex;
    gap: 50px;
    justify-content:flex-start;
}

.end{
    background-color:lawngreen;
    color:white;
    display: flex;
    gap: 50px;
    justify-content:flex-end;
}

.between{
    background-color:rosybrown;
    color:white;
    display: flex;
    gap: 50px;
    justify-content:space-between;
}

.around{
    background-color:seagreen;
    color:white;
    display: flex;
    gap: 50px;
    justify-content:space-around;
}

.evenly{
    background-color:sienna;
    color:white;
    display: flex;
    gap: 50px;
    justify-content:space-evenly;
}

/* align-item property */
.centerItem{
    height:200px;
    background-color:turquoise;
    color:white;
    display: flex;
    gap: 50px;
    align-items: center;
}
.startItem{
    height:200px;
    background-color:thistle;
    color:white;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
.endItem{
    height:200px;
    background-color:teal;
    color:white;
    display: flex;
    gap: 50px;
    align-items: flex-end;
}