.tran-btn{
    background-color: #e84393;
    color:white;
    border:none;
    padding: 15px 35px;
    font-weight: bold;
    transition: transform 3s  linear;
}
.tran-btn:hover{
    background-color: rgb(99, 27, 167);
    border: none;
    transform: rotate(360deg);
}

.button{
    background-color: #0984e3;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    color:#fffefc;
    width: 50%;
    margin:100px auto;
    transition: width 5s ease-in-out;
}

.button:hover{
    width: 70%;
   
}