.tran-btn{
    background-color: #e84393;
    color:white;
    border:none;
    padding: 15px 35px;
    font-weight: bold;
    transition: transform 3s  linear;
}
.tran-btn:hover{
    background-color: rgb(99, 27, 167);
    border: none;
    transform: rotate(360deg);
}

.button{
    background-color: #0984e3;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    color:#fffefc;
    width: 50%;
    margin:100px auto;
    transition: width 5s ease-in-out;
}

.button:hover{
    width: 70%;
   
}

.container{
    text-align: center;
   
}

.field{
    background-color: green;
    width: 50%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.bat{
    border: 1px solid brown;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    background-color:tan;
    position: relative;
    top: 300px;
    bottom:0;
    left: 250px;
    transition: transform 1s;
}

.ball{
    background-color: rgb(223, 22, 22);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: 320px;
    transition: transform 2s;
    left: 300px;
}

.field:hover .ball{
    transform: translateY(-450px)
    
}

.field:hover .bat{
    transform: rotate(15deg);
    transform-origin: right bottom;
}
